.wd-profile-picture {
    border-radius: 50px;
    height: 48px;
    width: 48px;
}
.wd-box-follow {
    border-style:solid;
    background-color: #222222;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-color: white;
}
.btn-primary.override-bs {
    border-radius: 25px;
}
.wd-follow {
    color:white;
    font-weight: bold;
    font-size: 20px;
}